// Grid specific classes
// The following rules are for demo purpose only
// Let's use LostGrid! http://lostgrid.org/
.row {
    lost-center: $grid_container-maxwidth;
}

.col {
  lost-column: 1/3;
}
