/// Colors
$color_primary: #4dbdd5;
$color_secondary: #b4d455;

/// Grid
$grid_container-maxwidth: 1360px;

/// Breakpoints
$breakpoints: (
    'small-only': (max-width: 799px),
    'medium-up': (min-width: 800px),
    'large-up': (min-width: 1000px),
    'xlarge-up': (min-width: 1200px),
    'xxlarge': (min-width: 1400px),
);
